<!DOCTYPE html>
<html>

<head>

    <title>Quiz App</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <%- include("partials/header") %>

        <div class="container text-center">

            <h1>Simple Quiz Management</h1>

            <a href="/quizzes" class="btn btn-primary">
                Quiz Management
            </a>

            <a href="/question" class="btn btn-secondary">
                Question Bank
            </a>

        </div>
</body>

</html>