<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Edit Quiz</title>
</head>

<body>
    <%- include("../partials/header") %>
    
        <div class="container">

            <h1>Edit Quiz</h1>

            <form method="post">

                <label>Title</label>
                <input name="title" value="<%= quiz.title %>" required>

                <label>Description</label>
                <textarea name="description" rows="4"><%= quiz.description %></textarea>

                <div class="actions">
                    <button class="btn btn-primary">Update</button>
                    <a class="btn btn-secondary" href="/quizzes">Back</a>
                </div>

            </form>

        </div>

</body>

</html>